#show-dataset-borders {
  display: none;
  background: url(dataset_borders_icon.svg) no-repeat 0;
  width: 60px;
  height: 100%;
  background-size: 40px;
  background-position: 50%;
  cursor: pointer;
}
