#show-dataset-borders {
  display: none;
  background: url(dataset_borders_icon.svg) no-repeat 0;
  width: 60px;
  height: 100%;
  background-size: 40px;
  background-position: 50%;
  cursor: pointer;
}
  
#ews-restore-seed-button {
  background-image: url(regrow_seed_vf-20.svg);
  background-size: 90%;
}


#ews-remove-duplicates-button {
  background-image: url(remove_dupe-vf-21.svg);
  background-size: 90%;
}

#ews-additional-options-popup {
  display: none;
  position: absolute;
  left: 100px;
  top: 100px;
  height: 300px;
  width: 300px;
}

#ews-nav-bar-container {
  list-style-type: none;
}

#ews-nav-bar-container li {
  padding: 15px;
  display: inline !important; /* to overwrite JS rule, which serves to avoid FOUC */
  font-size: 14px;
}

#ews-nav-bar-container li:hover {
  background-color: #2f7db3;
}

#ews-nav-bar-container li a {
  color: #e4e1e1;
  text-decoration: none;
}